{% extends "Blog/templates/base.html" %}

{% block 'content' %}

<!-- Default form contact -->
<form class="container mt-5 w-50 text-center border border-light p-5" method="post">
    {% csrf_token %}
    <p class="h4 mb-4">Reset Password</p>

    <div class="container my-5">
        {{ form }}
    </div>

    <button id="emailSendButton" onclick="disableButton()" class="container w-50 btn btn-primary btn-block"
        type="submit">Send</button>
</form>
<!-- Default form contact -->


<script>
    const disableButton = () => {
        const btn = document.getElementById("emailSendButton");
        btn.disabled = true;
    };

</script>


{% endblock %}